/*backend.css*/

.peach-gradient-button{
    border: 1px solid #fff !important; 
     height:auto !important; 
    padding:4px 8px;  
     background: linear-gradient(40deg,#FFD86F,#FC6262)!important; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

.QuixFlex{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

pre{
    background:#eee !important;

}

.message{
    text-align:center !important;
    box-shadow:0 0 5px #aaa;
    border:1px solid #fff;
}